.progress-bar {
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  width: 0;
  background-color: #78a300;
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  height: 53px;
  margin: 0 -10px -10px;
  padding: 20px 10px 0 10px;

  .discreet {
    color: #aaa;
    margin-top: 10px;
  }
}

.buttonfooter {
  clear: both;
}

.data-container {
  width: 800px;
  margin: 0 auto;
}


.instructions {
  font-size: 11px;
  color: #B8B7B8;
  margin-bottom: 7px;
}

.missing-fields-note {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
  color: #a94442;
}

.error {
  border: 1px solid red;
}

.column {
  width: 400px;
  float: left;
}

.data {
  width: 400px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
}

.data strong {
  font-size: 11px;
  color: #888;
  display: block;
  margin-bottom: 5px;
}

.descriptionfield {
  white-space: pre-wrap;
}

.data .token {
  position: relative;
  display: inline-block;
  margin: 0 3px 3px 0;
  padding: 3px 6px 4px 6px;
  background: #fafafa;
  font-size: 11px;
  line-height: 13px;
  color: #333;
  min-height: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  -ms-word-break: break-all;
}

.done-icon {
  width: 251px;
  height: 241px;
  background: app-asset-url("conf_rocket.png");
  background-position: 16px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.confirmation, .onboarding_wrapper {
  .btn-inverse {
    border: none;
    background: #fda028;
    text-shadow: none;
    width: 202px;
    height: 46px;
    font-family: Lucida Sans;
    color: rgba(255,255,255,0.8);
    font-size: 15px;
  }

  .btn-inverse:hover{
    color: #ffffff;
    background: #ffab1a;
  }

  .btn-inverse:active{
    color: #ffffff;
    background: #ce8200;
  }


}

.confirmation {
  overflow: auto;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border-radius: 10px;

  h1 {
    margin-bottom: 40px;
  }

  p {
    margin: 0 auto;
    margin-bottom: 38px;
    font-size: 18px;
    width: 612px;
    line-height: 1.2em;
  }
}

.proactive_tickets p, .proactive_tickets h1 {
	margin-bottom: 10px;
	width: 100%;
}

#toggle_header {
	margin-bottom: 60px;
  margin-top: 32px;
}

#toggle_header ul li {
	display: inline;
	margin: 0 5%;
}

#toggle_parent {
	position: relative;
}

#how_it_works {
	top: 0px;
}

#still_questions {
	top: 0px;
	margin-left: 8%;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

.selected {
	font-weight:700;
  padding-bottom: 2px;
  text-decoration: underline;
}
 
.toggle {
  font-size: 16px;
  color: #333333;
}

.center {
	text-align: center;
}

.center h1 {
	/* margin: 0 0 5px 0;*/
  font-size: 50px;
  line-height: 48px;
  font-weight: normal;
  color: #333333;
  font-family: DIN Next LT Pro;
  margin-bottom: 32px;
  margin-top: 32px;
}

.caps {
	text-transform: uppercase;
}

.featureheader {
  text-transform: uppercase;
  margin-top: 50px;
  
  font-size: 16px;
  font-weight: regular;
  color: #828282;
  font-family: Lucida Sans;
}

#three_icons {
	margin-left: auto;
	margin-right: auto;
}

#three_points ul {
	margin: 0;
}

#three_points ul li {
	display: inline-block;
	width: 200px;
	padding: 0 4%;
	font-size: 13px;
  line-height: 20px;
  color: #333333;
  font-family: Lucida Sans;
}

.bold {
	font-weight: bold;
}

.support_header {
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #333333;
}

#questions span {
	padding: 0 4%;
	font-size: 13px;	
}

.support_point {
	width: 340px;
	font-size: 12px;
	text-align: justify;
	float: left;
	margin: 1% 7%;
  line-height: 20px;
  color: #333333;
  font-family: Lucida Sans;
}

.category-list {
	text-align: center;
	margin: 0px;
}

.category-list li {
	display: inline-block;
	padding: 0 4%;
	width: 200px;
}

.category-list li span {
	font-weight: bold;
	font-size: 17px;
}
.questions {
  border-top: 1px solid #ececec;
  margin-left: 0px;
  padding-top: 30px;

  .question {
    counter-increment: number;
    margin: 0px;
    margin-bottom: 30px;
    padding-left: 40px;
    position: relative;
    clear: both;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;

    &.ticket-fields {
      position: relative;

      .question-field {
        margin-left: 438px;
        position: static;
        margin-top: 15px;

        &.description-field {
          position: absolute;
          margin-left: 370px;
          margin-top: 0;
          top: 0px;
        }

        label {
          font-weight: bold;
          margin-bottom: 3px;
        }
      }

      .question-label {
        float: left;
      }
    }

    .question-label {
      width: 326px;
      font-size: 13px;
    }

    h3 {
      font-size: 16px;
      line-height: 14px;
      margin-bottom: 5px;

      &:before {
        content: counter(number);
        color: #999;
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 19px;
        width: 14px;
        border: solid 1px #d5d5d5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        padding: 0px;
        padding-left: 6px;
        line-height: 18px;
      }
    }

    p {
      display: block;
      margin-bottom: 10px;
    }

    .question-field {
      position: absolute;
      top: 5px;
      left: 477px;
      width: 300px;

      &.two {
        top: 60px;
      }

      &.three {
        top: 115px;
      }

      &.four {
        top: 170px;
      }
    }
  }

}
